body {
  font: 14px "Century Gothic", Futura, sans-serif;
  padding: 0;
  margin: 20px;
}

.clear {
  clear: both;
  content: "";
}

.mine-sweeper-game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: green;
}

.mine-sweeper-info {
  min-height: 50px;
}

.cell {
  background: #fff;
  border: 1px solid #414c69;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.cell:focus {
  outline: none;
}

.hidden {
  background: #7e7b92;
}

.is-flag,
.is-mine {
  color: #fc543c;
}
